{% extends "layout.html" %}
{% block content %}
    <div style="text-align: center;">
        <p class="font-weight-bold"><h1>TimeTable</h1></p>
    </div>
    <table class="table table-bordered table-dark">
        <thead class="thead-light">
        <tr>
            <th>Day</th>
            <th>8:00 - 8:50</th>
            <th>8:50 - 9:40</th>
            <th>9:40 - 10:30</th>
            <th>10:30 - 11:20</th>
            <th>11:20 - 12:10</th>
            <th>12:10 - 1:00</th>
            <th>2:30 - 3:20</th>
            <th>3:20 - 4:10</th>
            <th>4:10 - 5:00</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ tt['d1'].day }}</th>
            <td class="button">
                {{ tt['d1'].p1 }}
                <button type="button" style="display: none;"  class="button btn btn-success">Take</button>
            </td>
            <td>{{ tt['d1'].p2 }}</td>
            <td>{{ tt['d1'].p3 }}</td>
            <td colspan="3">{{ tt['d1'].p4 }}</td>
            <td>{{ tt['d1'].p7 }}</td>
            <td>{{ tt['d1'].p8 }}</td>
            <td>{{ tt['d1'].p9 }}</td>
        </tr>
        <tr>
            <th scope="row">{{ tt['d2'].day }}</th>
            <td>{{ tt['d2'].p1 }}</td>
            <td>{{ tt['d2'].p2 }}</td>
            <td>{{ tt['d2'].p3 }}</td>
            <td>{{ tt['d2'].p4 }}</td>
            <td>{{ tt['d2'].p5 }}</td>
            <td>{{ tt['d2'].p6 }}</td>
            <td colspan="3">{{ tt['d2'].p7 }}</td>
        </tr>
        <tr>
            <th scope="row">Wednesday</th>
            <td> - </td>
            <td>ERTS</td>
            <td>ERTS</td>
            <td>DM</td>
            <td> - </td>
            <td> - </td>
            <td>ACA</td>
            <td>IWP</td>
            <td>IWP</td>
        </tr>
        <tr>
            <th scope="row">Thursday</th>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td>Entrepreneurship</td>
            <td>ACA</td>
            <td>Entrepreneurship</td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <th scope="row">Friday</th>
            <td> - </td>
            <td>DM</td>
            <td>ACA</td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td>ERTS</td>
            <td>ERTS</td>
        </tr>
        <tr>
            <th scope="row">Saturday</th>
            <td colspan="3">Project CS - 1</td>
            <td colspan="3">Project CS - 2</td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>        
    </tbody>
    </table>
{% endblock content %}